<div data-ng-init="getAllEventsPatient()">
    <!-- <div data-ng-repeat="let event in eventsArr">

    </div> -->
    <table >
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Disease / Problem</th>
            <th>Duration of the disease</th>
            <th>Medicine(s) Taken</th>
            <th>Success</th>
          </tr>
        </thead>
        <tbody data-ng-repeat="event in eventsArr; ">
          <tr>
              <td>{{$index + 1}}</td>
              <td>{{ event.Event }}</td>
              <td>{{ event.TimeSFO }}</td>
              <td>{{ event.Medicine.join(',') }}</td>
          </tr>
        </tbody>
    </table>
</div>