<div style="min-height: 400px;" data-ng-init="getAllEventsPatient()">
    <table >
        <thead>
          <tr>
            <th>Sl No.</th>
            <th>Disease / Problem</th>
            <th>Duration of the disease</th>
            <th>Medicine(s) Taken</th>
            <th>Success</th>
          </tr>
        </thead>
        <tbody data-ng-repeat="event in eventsArr; ">
          <tr>
              <td>{{$index + 1}}</td>
              <td>{{ event.Event }}</td>
              <td>{{ event.TimeSFO }}</td>
              <td>{{ event.Medicine.join(',') }}</td>
              <td data-ng-if="event.Success == false">
                  <input type="text" ng-model="event.Success" required/>
                  <button onclick="updateSuccess()">Done</button>
              </td>
              <td data-ng-if="event.Success == true">
                  {{event.Success}}
              </td>
          </tr>
        </tbody>
    </table>
</div>

<div class="add-events-style">
    <img src="../img/add.png" alt="" srcset="" style="position: fixed; bottom: 1%; left: 20%; height: 8%;"
        data-ng-click="addEvent()"
    >
</div>