<br>
<div style="background-image: url(./img/med2.jpg);
        height: 100%;margin-bottom:0%; min-height:  600px; max-width: 100%;
    background-repeat: no-repeat;background-size: 100% 100%; ">
<div class="row" class="">
    <div class="col-md-4 col-md-offset-4" style="margin-left:30%; margin-top:10% ">
        <div class="panel panel-primary" style="border:2px solid pink;padding: 20px;margin-left: 20%;margin-right: 20%;
    border-radius: 20px;">
            <div class="panel-heading">
                <h3 class="panel-title">Log In</h3> 
            </div>
            <div class="panel-body">
                <form>
                    <div class="form-group">
                        <label for="patientid">Patient ID</label>
                        <input type="number" class="form-control" name="patientid" ng-model="patientid" placeholder="Enter Patient ID" required>
                    </div>
                    <div class="form-group">
                        <label for="b">Login by</label>
                        <span>
                            <select name="b" ng-model="tldr.rni" class="form-control">
                                <option value="Doctor">Doctor</option>
                                <option value="Patient">Patient</option>
                            </select>
                        </span>
                    </div>
                    
                    <button type="submit" class="btn btn-success" data-ng-click="handleLogin()" >Submit</button> &nbsp;
                    <a href="/?#!/signUp"><button type="button" class="btn btn-primary" >Sign Up</button></a>
                    
                    <!-- <div data-ng-if="showLoader">
                        <div class="loader"></div>
                        <img src="../loader.gif" alt="" style="height:100px;margin-left: 3%;margin-top: 10px;">
                    </div> -->
                    {{wrongpass}}
                </form>
            </div>
        </div>
    </div>
</div>
</div>