<div class="" style="margin-top: 10%;text-align:left;"
>
    <form style="border:2px solid pink;padding: 20px;margin-left: 20%;margin-right: 20%;
    border-radius: 20px; text-align:center;" data-ng-submit="submitSignUP()" >
        <h3>Patient Sign Up</h3><hr>

        Name : <input type="text" name="name" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;margin-top: 20px;"
            ng-model="signup.name" required
        /><br/><br/>
        Email : <input type="email" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.email" required
        /><br/><br/>
        Age : <input type="number" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.age" required
        /><br/><br/>
        Date of Birth : <input type="date" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.dob" required
        /><br/><br/>
        Blood Group : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.bg" required
        /><br/><br/>
        Birth : <input type="text" style="background-color: #F6FFFF;border-radius: 10px;text-align: center;" 
        data-ng-model="signup.b" required
        /><br/><br/>
        <input type="submit" class="btn btn-primary" data-ng-click="handleSignUp()" /><a href="/?#!/login">
            <button class="btn btn-danger" style="margin-left:20px;" >Back</button>
    </a>
    </form>
</div>